.todoMain
	background #ddd
	padding 15px
	border-radius 15px
	width 600px
	margin 15px auto
	box-shadow 3px -5px 53px #7E7E7E
.list-group-item
	padding 2px 15px
	line-height:50px
	.todoItem
		cursor pointer
		button
			margin-right 0px
			margin-top 10px
		span
			font-size 18px;
			line-height 25px
		&.ended
			background #ddd
			text-decoration line-through
			color #B4B8B5

