.todoMain
	background #ddd
	padding 15px
	border-radius 15px
	width 600px
	margin 15px auto
	box-shadow 3px -5px 53px #7E7E7E

.todoItem
	button
		margin-right 0px
	span
		cursor pointer
		font-size 18px;
		&.ended
			text-decoration line-through
			color #0f742f
